<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="2;url=https://www.odd2tips.com/login" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Login Error</title>
  </head>
  <body class="bg-light">
    <div class="container p-5">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="card-title mb-4">Login Error</h1>
          <p class="card-text">
            There was an error processing your login. Please try again.
          </p>
          <a href="https://www.odd2tips.com/login" class="btn btn-primary mt-3"
            >Try Again</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
