<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="5;url=https://www.odd2tips.com/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Login Successful</title>
  </head>
  <body class="bg-light">
    <div class="container p-5">
      <div class="card">
        <div class="card-body text-center">
          <h1 class="card-title mb-4">Login Successful!</h1>
          <p class="card-text">
            Welcome to Odd2Tips. You have successfully logged in using Google.
          </p>
          <a href="https://www.odd2tips.com/" class="btn btn-primary mt-3"
            >Go to Homepage</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
