<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="5;url=https://www.odd2tips.com/login" />
    <title>Email Verification</title>
  </head>
  <body>
    <h1>Email verification successful!</h1>
    <p>You will be redirected to the homepage in 5 seconds.</p>
    <p>
      If you are not redirected,
      <a href="https://www.odd2tips.com/login">click here</a>.
    </p>
  </body>
</html>
